In [4]:
lst1=[2,4,5,7]
lst2=[21,14,15,37]
lst3=[52,54,55,57]


def add(a,b,c):
    return a+b+c
  
  
summed1 = list(  map(add,lst1,lst2,lst3))
print(summed1)

summed2 = list( filter(lambda x: x % 2 == 0, map(add,lst1,lst2,lst3)))
print(summed2)

[75, 72, 75, 101]
[72]

In [1]:
list_names = ["John", "Jane", [1,2,3], "Mike", (4,5,7), "Sarah"]
tuple_names = ("John", "Jane", "Trixy", 2.2, "Chris", (1,2,3))

t[1] = tuple_names[3] + tuple_names[4]


print(type(list_names))
print(list_names)

print(type(tuple_names))
print(tuple_names)

new_list = list(tuple_names)
new_list.append("Mike")
print(type(new_list))
print(new_list)

print(tuple_names[0])

print(tuple_names[0:3])

print(tuple_names[-5:-1:2])
# 2 is the step
# ('Trixy', 'Chris')

y =("Martin",)
tuple_names += y
print(tuple_names)

y = list(tuple_names)
y.remove("Trixy")
x = tuple(y)
print(x)


green,yellow,*red = tuple_names
print("green = ",green)
print("yellow = ",yellow)
print("red = ",red)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [24]:
nums = [1,2,3,4,5,6,7,8,9,10]
vals = nums
del vals[0:3]
print(nums)
print(vals)

[4, 5, 6, 7, 8, 9, 10]
[4, 5, 6, 7, 8, 9, 10]

In [25]:
var = 1
while var < 10:
    print(var)
    var = var << 1

1
2
4
8

In [31]:
t = [ [3-i for i in range(3)] for j in range(3)]
print(t)
s = 0
for i in range(3):
    s += t[i][i]
    print(s)
print(s)

[[3, 2, 1], [3, 2, 1], [3, 2, 1]]
3
5
6
6

In [32]:
a = 1
b = 0

e = a ^ b
print(e)

1

In [3]:
def fun (i=2, y=3):
    return i * y  
  
print(fun(y=4))

8

In [ ]:
def test():
  return


test()

In [6]:
foo = (1,2,3)
print(foo.index(1))

0

In [8]:
l = [1,2,3,4,5]
sub = l[-1:-2]
print(sub)

[]